<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Document</title>
    </head>
    <body>
        <h1>Ласкаво просимо на <%= title %></h1>
        <p>Введіть логін та пароль: </p>
        <input type="text" placeholder="Логін" class="username-input" />
        <input type="text" placeholder="Пароль" class="password-input" />
        <button class="submit-button">Відправити</button>
    </body>
    <script src="/login.js"></script>
</html>